.container {
  width: calc((100% - 100px) / 2);
  height: 500px;
  margin-right: 100px;
  padding: 30px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.description {
  height: 80%;
}

.avatar {
  display: block;
  width: 100%;
  height: 55%;
}

.name {
  margin: 10px 0;
  font-size: 45px;
  font-weight: 700;
}

.tag {
  margin-bottom: 10px;
  font-size: 28px;
  font-weight: 700;
}

.location {
  margin-bottom: 8px;
  font-size: 20px;
}

.stats {
  display: flex;
  height: 20%;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.stat {
  width: calc((100% - 20px) / 3);
}

.stat:not(:last-child) {
  margin-right: 10px;
}

.label,
.quantity {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
  font-size: 20px;
  font-weight: 500;
}

.label {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background-color: rgb(139, 117, 117);
}

.quantity {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  background-color: rgb(211, 193, 193);
}
