.section {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  width: calc((100% - 100px) / 2);
  height: 500px;
  padding: 30px;
  border-radius: 10px;
  background-color: rgb(250, 243, 243);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

.list {
  display: flex;
  width: 100%;
  height: 100px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  background-color: white;
  border-radius: 3px;
  overflow: hidden;
}

.item {
  width: calc(100% / 5);
}
