.item {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  height: calc((100% - 40px) / 5);
  margin-right: auto;
  margin-left: auto;
  padding: 20px 30px;
  list-style-type: none;
  border-radius: 3px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.item:not(:last-child) {
  margin-bottom: 10px;
}

.status {
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.online {
  composes: status;
  background-color: green;
}

.offline {
  composes: status;
  background-color: red;
}

.avatar {
  display: block;
}

.name {
  margin: 0;
  font-weight: 500;
}
