.status {
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.online {
  composes: status;
  background-color: green;
}

.offline {
  composes: status;
  background-color: red;
}

.avatar {
  display: block;
}

.name {
  margin: 0;
  font-weight: 500;
}
